<%= image_tag "mainphoto.jpg", class: "top-img" %>
<div class="content">
  <%= render 'side-banner' %>
  <div class="content-text">
    <div class="title">
      <h4>レッスン料金 <span class="color-orange small">LESSON</span></h4>
    </div>
    <div class="sub-title">
      <h6>個人レッスン</h6>
    </div>
    <div class="private-lesson">
      <div class="private-lesson__text">
        <h6>1レッスン　25分</h6>
        <a>1人1人のレベルに合わせて、目標を持ったきめ細かなレッスンを行います。<br>完全予約制なので、お好きな時間を選んでレッスンを受けることが出来ます。是非、ご相談ください</a>
        <p class="color-orange">入会金　5,000円（税抜）</p>
      </div>
      <table class="private-lesson__schedule">
        <tr>
          <th class="long" colspan="2">レッスン料金チケット（税抜）</th>
        </tr>
        <tr>
          <th class="time">レッスン回数</th>
          <th class="fee">金額</th>
        </tr>
        <tr>
          <th class="time">2レッスン</th>
          <th class="fee">5,000円</th>
        </tr>
        <tr>
          <th class="time">4レッスン</th>
          <th class="fee">9,900円</th>
        </tr>
        <tr>
          <th class="time">6レッスン</th>
          <th class="fee">14,700円</th>
        </tr>
        <tr>
          <th class="time">8レッスン</th>
          <th class="fee">19,400円</th>
        </tr>
        <tr>
          <th class="time">10レッスン</th>
          <th class="fee">24,000円</th>
        </tr>
        <tr>
          <th class="time">20レッスン</th>
          <th class="fee">46,000円</th>
        </tr>
      </table>
    </div>
    <div class="sub-title">
      <h6>グループレッスン</h6>
    </div>
    <h6>月4回　1回50分（月謝制）</h6>
    <p class="font-size">少人数制で、みんなで楽しくレッスンを受けれます。<br>ラテン・スタンダード共に身につけて頂けるよう、色々な種目のレッスンをいたします。<br>4名様以上であれば、仲の良いお友達同士での新しいグループレッスンもお受けいたしますので、是非、ご相談ください。</p>
    <p class="color-orange">月謝制5,000円（税抜） 4名様から</p>
    <table class="group-lesson">
      <tr>
        <th class="long" colspan="4">グループレッスンスケジュール</th>
      </tr>
      <tr>
        <th class="day">曜日</th>
        <th class="info">コース</th>
        <th class="info">時間</th>
        <th class="info">講師</th>
      </tr>
      <tr>
        <td class="day">木</td>
        <td class="info">初級・中級</td>
        <td class="info">PM 06：00～PM 06：50</td>
        <td class="info"></td>
      </tr>
    </table>
    <div class="exit">
      <h6>退会に関して</h6>
      <p class="font-size">当教室における個人レッスン・グループレッスンを退会される方は、事前にご連絡ください。<br>尚、退会にあたり、当教室のチケット残に対する返金はいたしませんのでご了承ください</p>
    </div>
    <div class="sub-title">
      <h6>初回無料体験チケット</h6>
    </div>
    <div class="ticket print-area">
      <%= image_tag "ticket.gif", class: "ticket-img" %>
    </div>
    <div class="area-center print-btn">
      <button>
        <span>クーポンを印刷する</span>
      </button>
    </div>