/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  margin: 0 auto;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav {
  background-color: orange;
  height: 55px;
}

.nav-ul {
  margin: 0;
  width: 96%;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

.nav-ul li {
  width: 16%;
  height: 100%;
  padding-top: 2px;
  display: inline-block;
  list-style: none;
  h4 {
    margin: 0;
  }
  a {
    font-size: 12px;
    margin: 0;
  }
}
