// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-img {
  width: 100%;
}

.top-content {
  display: flex;
  padding-top: 5px;
  &__main {
    width: 60%;
    &-about {
      padding-right: 5px;
      &__img {
        float: left;
      }
      p {
        font-size: 16px;
      }
    }
  }
  &__information {
    width: 40%;
    p {
      font-size: 25px;
      margin-bottom: 0;
    }
    &__img {
      width: 100%;
      padding-top: 5px;
    }
  }
}

.color-orange {
  color: orange;
}

.banner-content {
  background-color: gray;
  padding: 10px 0 10px 10px;
  margin-top: 10px;
  &__main {
    width: 49%;
  }
  &__sub {
    width: 24.4%;
  }
}

.content {
  padding-top: 10px;
  display: flex;
}

.side-banner {
  background-color: #808080;
  padding: 10px;
  width: 25%;
  margin-right: 3%;
  &__img {
    width: 100%;
    padding-top: 5px;
  }
}

.content-text {
  width: 72%;
}

.title {
  border-top: solid 8px orange;
  border-bottom: solid 2px orange;
  padding-top: 7px;
}

.sub-title {
  margin: 15px 0;
  background-color: grey;
  h6 {
    color: white;
    padding: 7px;
    border-bottom: solid 3px orange;
  }
}

.private-lesson {
  display: flex;
  &__text {
    width: 48%;
    margin-right: 2%;
    a {
      font-size: 12px;
    }
  }
  &__schedule {
    width: 50%;
  }
}
.long {
  width: 100%;
  background-color: orange;
  text-align: center;
  padding: 7px;
}

.time {
  width: 50%;
  background-color: rgb(245, 194, 150);
  text-align: center;
  padding: 7px;
  border-top: solid 1px white;
  border-right: solid 1px white;
}

.fee {
  width: 50%;
  background-color: peachpuff;
  text-align: center;
  padding: 7px;
  border-top: solid 1px white;
}

.font-size {
  font-size: 12px;
}

.group-lesson {
  width: 100%;
}

.day {
  background-color: rgb(245, 194, 150);
  text-align: center;
  padding: 7px;
  border-top: solid 1px white;
  border-right: solid 1px white;
}

.info {
  background-color: peachpuff;
  text-align: center;
  padding: 7px;
  border-top: solid 1px white;
  border-right: solid 1px white;
}

.exit {
  margin: 15px 0;
  background-color: darkgray;
  padding: 15px;
  border-radius: 10px;
}

.ticket {
  width: 90%;
  margin: 0 auto;
}

.ticket-img {
  width: 100%;
}

.print-off {
  display: none;
}

.area-center {
  margin-top: 15px;
  text-align: center;
}
